build/
src/tpcds/include/queries/
src/tpcds/include/schema/
answers/
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Flat files
*.dat
build/
.vscode
